<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author's Books Search</title>
</head>
<body>
    <h1>Enter Author's First Name To Look Up Book</h1>
     <input type="text" placeholder="J. K. Rowling">
    <button type="submit">Search</button>
    <br>
    <h2>List Of All Authors</h2>
    {% for i in all_authors %}
        <h3> 
            {{i.First_Name}}
            {{i.Last_Name}}
        </h3>
            {{i.Bio}}
        <br>
    {% endfor %}

</body>
</html>