<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap" rel="stylesheet"> 
    <title>Group 10's Bookstore</title>
</head>
<body>
    <h1>Welcome To CEN4010 Group 10's Book Store</h1>

<style>
    body 
    { 
        background-image: url("https://i.redd.it/817kjxgvj1041.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    }
    h1{
        margin-top: 10vh;
        color: white;
        font-family: Poppins;
        font-size: 6vh;
        cursor: pointer;
    }
</style>  
    
</body>
</html>