<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments By Ascending Order</title>
</head>
<body>
    <h1>Comments By Rating</h1>
    <br>
    <h2>Best to Worst</h2>
 
    {% for Comment in sorted %}
        <h3> 
            {{bookRating.score}}
            {{bookRating.author}}
            {{bookRating.book}}
        </h3>
            <div>{{bookRating.content}}</div>
        <br>
    {% endfor %}

</body>
</html>